services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    networks:
      - app-net

  backend:
    image: rajupadidapu/crud-backend:latest
    container_name: backend
    restart: unless-stopped
    environment:
      MONGO_URI: mongodb://mongo:27017/dd_db
      PORT: 8080
    depends_on:
      - mongo
    expose:
      - "8080"
    networks:
      - app-net

  frontend:
    image: rajupadidapu/crud-frontend:latest
    container_name: frontend
    restart: unless-stopped
    depends_on:
      - backend
    expose:
      - "8081"
    networks:
      - app-net

  nginx:
    image: nginx:alpine
    container_name: nginx
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-net

volumes:
  mongo-data:

networks:
  app-net:
    driver: bridge
