name : Build and Push Frontend Docker Image

on:
  push:
    branches:
      - main
    paths:
      - backend/**

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push Backend
        uses: docker/build-push-action@v6
        with:
          context: ./backend/Dockerfile
          push: true
          tags: rajupadidapu/crud-backend:latest,rajupadidapu/crud-backend:${{ github.sha }}
